@model Evidence.Models.User
@{
    ViewBag.Title = "Login";
}


@{ ViewBag.Title = "Login";
    Layout = null; }

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <form action="/Home/Login" method="post">
        <div>
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
        </div>
        <br />
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
}